/* You can add global styles to this file, and also import other style files */
body {
    background-image: url('D:\Capg\crop_project\Crop_Dealer\Crop_DEAL_UI\CROP_DEAL\src\assets\Ui_background.jpg');
    background-size: auto; /* Optional: Set the image to cover the entire page */
    background-position: center; /* Optional: Center the image */
    background-repeat: no-repeat;
  }
  