<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Routing Icons Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body >
    <div class="farmerIcon">
        <div class="row">
            <div class="col">
                <a href="/addCropAdmin" class="icon-link">
                    <i class="fa fa-plus fa-4x"></i>
                    <p>ADD CROP</p>
                </a>
            </div>
            <div class="col">
                <a href="/viewCropAdmin" class="icon-link">
                    <i class="fa fa-shopping-bag fa-4x"></i>
                    <p>VIEW CROP</p>
                </a>
            </div>
            <div class="col">
                <a href="/viewInvoiceAdmin" class="icon-link">
                    <i class="fa fa-file-text fa-4x"></i>
                    <p>INVOICE</p>
                </a>
            </div>
            <div class="col">
                <a href="/viewfarmeradmin" class="icon-link">
                    <i class="fa fa-user fa-4x"></i>
                    <p>FARMERS</p>
                </a>
            </div>
            <div class="col">
                <a href="/viewdealeradmin" class="icon-link">
                    <i class="fa fa-user fa-4x"></i>
                    <p>DEALERS</p>
                </a>
            </div>
        </div>
    </div>

</body>
</html>
